.oubli {
    color: black;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 250px;
}

.login h2 {
    padding-bottom: 30px;
}

.login_email input,
.login_password input {
    width: 379px;
    height: 51px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.19);
}

.login_email p,
.login_password p {
    padding-bottom: 10px;
}

.login_button {
    width: 179px;
    height: 36px;
    border: none;
}

input .login_button {
    margin-bottom: 5px;
}

.bad_login {
    display: none;
    color: red;
}

a {
    text-decoration: none;
}

.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 18rem;
}

.back {
    font-weight: 900;
    color: black;
}

.login a {
    text-decoration: underline;
    margin-bottom: 100px;
}

.login h2 {
    margin-bottom: 2rem;
}

.login form {
    width: 37%;
}

.mail {
    margin: 1rem;
}

.email {
    margin: 2em 0 1em 0;
}

#email {
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    margin-top: 0.5rem;

}

.mdp {
    margin: 1rem;
}

.password {
    margin: 2em 0 1em 0
}

#password {
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    margin-top: 0.5rem;
}

.login #submit {
    display: flex;
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    line-height: 20px;
    width: 180px;
    text-align: center;
    border-radius: 60px;
    border-style: none;
    height: 40px;
    justify-content: center;
}

.login #submit:hover {
    cursor: pointer;
    background-color: white;
    color: #1D6154;
    border-style: solid;
    border-color: #1D6154;
}

.forgot a {
    color: black;
}